body {
font-family: Tahoma, Arial;
margin: 0px 0px 0px 0px;
}

h1 {color:green;
   text-align:center;
   padding-bottom: 10pt;
}


table {
     border-collapse: collapse;
	 margin: auto;
	 left: 150pt;
	 top: 150pt;
 }

table, th, td {
    border: 1px solid black;
	width: 150pt;
	height: 25pt;
	text-align: center;
	
 } 
 
 th {background: grey;
    color:white;}
 
 td {background: white;}
 
 
 
 tr:hover {background-color: #f5f5f5}