#pos1{
	position:fixed;
	z-index:10;
}
#pos2{
	position:fixed;
	top:20px;
	left:40px;
	z-index:5;
	display:inline;
}
#pos3{
	position:fixed;
	top:0px;
	left:150px;
}


div {border-width: thin;
		border:dashed;}